<h1>Sandwich form</h1>

<%= form_with(model: @sandwich) do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br>
    <%= f.label :temperature %>:
    <%= f.text_field :temperature %><br>
    <%= f.label :condition %>:
    <%= f.text_field :condition %><br>
    <%= f.label :price %>:
    <%= f.number_field :price %><br>
    
    <%= submit_tag "Create Sandwich" %>
<% end %>