<h1>Sandwich form</h1>
<% if @sandwich.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sandwich.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @sandwich.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @sandwich) do |f| %>

    <%= f.label :recipe %>
    <%= f.text_field :recipe %><br>
    <%= f.label :temperature %>
    <%= f.text_field :temperature %><br>
    <%= f.label :condition %>
    <%= f.text_field :condition %><br>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.25 %><br>
    <%= f.fields_for :orders do |s| %>
    <h3>Create an Order</h3>
      <%= s.label :order_name %>
      <%= s.text_field :order_name %><br>

    <% end %>
    <%= f.submit "Create Sandwich" %>
<% end %>