<h1><%= @sandwich.category.name %></h1>

Ingredient: <%= @sandwich.ingredient %><br>
Price: <%= number_to_currency(@sandwich.price) %>
<%= link_to "Edit", sandwich_path(@sandwich), method: 'update' %>
<%= link_to "Delete", sandwich_path(@sandwich), method: 'delete' %>