<h1><%= @sandwich.name %></h1>

Condition: <%= @sandwich.condition %><br>
Temperature: <%= @sandwich.temperature %><br>
Price: <%= number_to_currency(@sandwich.price) %>
<%= link_to "Delete", sandwich_path(@sandwich), method: 'delete' %>
