<h1><%= @sandwich.category.name %></h1>

Ingredient: <%= @sandwich.ingredient %><br>
Price: <%= number_to_currency(@sandwich.price) %>
<%= @sandwich.orders.each do |order| %>
     <%= order.delivery %>
<% end %>
<%= link_to "Edit", edit_sandwich_path(@sandwich) %>
<%= link_to "Delete", sandwich_path(@sandwich), method: 'delete' %>