<h1><%= @sandwich.category.name %></h1>

Ingredient: <%= @sandwich.ingredient %><br>
<%= sandwich_price %>
<% @sandwich.orders.each do |order| %>
Delivery? <%= order.delivery %><br>
<% end %>

<% delivery = @sandwich.orders.each {|order| order.delivery.present? } %>
<% if delivery.present? == true %>
<% else %>
<%= link_to "Set Delivery", new_sandwich_order_path(@sandwich) %><br> 
<% end %>

<%= link_to "Edit", edit_sandwich_path(@sandwich) %>
<!-- <%= link_to "Delete", sandwich_path(@sandwich), method: 'delete' %> -->


<style>
body {
    background-color: yellow;
    opacity: 0.9;
}
</style>
