<%= render partial: "layouts/error", locals: { object: @order } %>

<%= form_for([@sandwich, @order]) do |f| %>

    
    <%= f.label :delivery %>
    <%= f.text_field :delivery %><br>
 
  
    <% if @sandwich %>
        <%= f.hidden_field :sandwich_id, value: @sandwich.id %>
    <% else %>
    <h3>Select existing Sandwich:</h3>
    <%= f.collection_select :sandwich_id, Sandwich.all, :id, :ingredient %>
    <h3>Make a Sandwich: </h3>
    <%= f.fields_for :sandwich do |s| %>
      <%= s.label "Price" %>
      <%= s.text_field :price %><br>
      <%= s.label "Ingredient" %>
      <%= s.text_field :ingredient %><br>
      <% end %>
    <% end %>




    <%= f.submit "Create Order" %>

<% end %>


