<h1>Change Delivery</h1>
<%= render partial: "layouts/error", locals: { object: @order } %>

<%= form_for([@sandwich, @order]) do |f| %>

    <%= f.label :delivery %>
    <%= f.text_field :delivery %><br>

    <%= f.submit "Edit Sandwich" %>

<% end %>


